/*TODO:  lot of this duplicates with the projects */
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  color: #111;
  box-sizing: border-box;
  height: 100%;
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: lowercase;
  margin-top: 0;
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #7c3aed;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #4c1d95;
}

/* up until here TODO */
