@font-face {
  font-family: "OldStyle";
  src: url("assets/fonts/oldsh.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  background: radial-gradient(circle at center, #745bff, #f95bf6, #ff7a41);
  color: black;
  background-attachment: fixed;
  font-family: "OldStyle", system-ui, sans-serif;
  animation: shift 10s ease infinite;
}

@keyframes shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
