.downloadButton {
  width: 300px;
  height: 100px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: rgb(255, 247, 247);
  background-color: rgb(108, 84, 243);
  font-weight: bold;
  font-size: 22px;
  font-family: "OldStyle", system-ui, sans-serif;
  transition: transform 0.5s ease, opacity 0.5s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  margin: 1em 0.5em 2em 0.5em;
  z-index: 1;
}

.downloadButton:hover {
  transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
