.link-buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.sm-link {
  border-radius: 25%;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}

.sm-link img {
  display: block;
}

.sm-link:hover {
  transform: scale(1.2); /* Increase size by 20% on hover */
}

.link-container {
  margin: 1em;
}
