.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.project-modal-content {
  background-color: #eefeff;
  padding: 0rem 2rem 2rem 2rem;
  border-radius: 1rem;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.project-modal-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.modal-images {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.modal-images img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 0.5rem;
}

hr {
  border: 1px dashed darkslategray; /* A dashed blue line */
}

.modal-tags {
  padding-top: 1rem;
}

.modal-tags span {
  background-color: #f8d1f9;
  color: #4b5563;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.modal-close {
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
  right: 0;
  position: relative;
  margin-bottom: -20%;
}

.modal-close:hover {
  color: #7c3aed;
}

.project-modal-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
